<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Show Theme</title>
  <style>
    .light-theme { background-color: lightblue; }
    .dark-theme { background-color: darkblue; }
    .default-theme { background-color: deeppink; }
  </style>
</head>
<body th:class="${themeClass}">
<h1>Theme is set to: <span th:text="${theme} ?: 'default'"></span></h1>
<form action="/setTheme" method="get">
  <select name="theme" >
    <option value="light" th:selected="${theme} eq 'light'">Light</option>
    <option value="dark" th:selected="${theme} eq 'dark'">Dark</option>
    <option value="default" th:selected="${theme ne 'light' && theme ne 'dark'}">Default</option>
  </select>
  <input type="submit" value="Set Theme"/>
</form>
</body>
</html>
